.playlist {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.list {
  overflow-y: auto;
  flex: 1;
  min-height: 0;
  padding: 8px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: linear-gradient(
    to top,
    var(--st-background-primary) 0%,
    transparent 100%
  );
  pointer-events: none;
}
